@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'sweetalert2/dist/sweetalert2.css';
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8f8f8;
  background-size: contain;
  background-repeat: no-repeat;
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.body{
  padding: 16px;
}
.body .wallet-card{
  background-color: #12181a;
  padding: 32 16;
  width: 'max-content';
  margin: auto;
  text-align: left;
}
.body .wallet-card .card-title{
  font-size: 16px;
}
.modal-content{
  margin: auto;
  width: 80%;
  padding: 16px 16px 8px;
  top: 64px;
}
.network-type{
  position: absolute;
  right: 0;
  top: 0;
  background-color: #444;
  padding: 2px 8px;
}